# Ignore Python virtual environment
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore datasets
chroma_db/
notebooks/
chroma_db1/
# Ignore system files
.DS_Store
run.ipynb

# Ignore log files
*.log
