pandas>=2.2.2
langchain>=0.1.0
langchain-community>=0.0.28
langchain-core>=0.1.30
langchain-nomic>=0.0.4
langchain-ollama>=0.0.1
datasets>=2.18.0
ragas>=0.1.8
transformers>=4.40.2
numpy>=1.26.4
ollama>=0.1.8